@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "./navbar/navbar.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #00000f;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}
.head .items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.head .items .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.head .items .row img {
  width: 55px;
}
.head .info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 500px;
  color: black;
  color: #eee;
}
.head .info .tagline {
  font-size: 30px;
  font-weight: 1000;
  text-align: center;
}
.head .info .tagline .unique {
  color: gold;
}
.head .info p {
  text-align: center;
}

.benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
}
.benefit-header {
  font-size: 30px;
  font-weight: 700;
  color: #eee;
}
.benefit .problems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  padding: 30px;
  color: #eee;
}
.benefit .problems-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.benefit .problems-content .left img {
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 10px -2px #000;
}
.benefit .problems-content .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.3rem;
}
.benefit .problems-content .right a {
  text-decoration: none;
  color: #eee;
}
.benefit .problems .join-now {
  padding: 5px 10px;
  border: 2px solid #00880c;
  color: #eee;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 2px;
}
.benefit .problems .join-now:hover {
  background-color: #00880c;
  color: #eee;
}

.principles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 75vw;
  margin: auto;
  margin-top: 70px;
}
.principles-head {
  font-weight: 700;
  font-size: 30px;
  color: #eee;
}
.principles-content {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}
.principles-content .principles-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(93, 126, 243, 0.2);
  padding: 20px;
  border-radius: 2rem 0 2rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.1s;
}
.principles-content .principles-item .item-top {
  padding: 10px;
  border-radius: 50%;
  display: flex;
}
.principles-content .principles-item .item-top svg {
  margin: auto;
  width: 3rem;
  height: 3rem;
  color: #00880c;
}
.principles-content .principles-item .principles-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: #eee;
}
.principles-content .principles-item .principles-content {
  text-align: center;
  font-size: 0.85rem;
  color: #eee;
}

.classes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 40px;
}
.classes-header {
  font-size: 30px;
  font-weight: 700;
  color: #eee;
}
.classes .class-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.classes .class-grid .class {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.7);
}
.classes .class-grid .class .header {
  font-size: 1.1rem;
  color: #eee;
}
.classes .class-grid .class .content img {
  width: 210px;
  border-radius: 10px;
  margin-bottom: -5px;
}
.classes .class-grid .class-info {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}
.classes .class-grid .class-info-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.85rem;
  color: #eee;
}
.classes .class-grid .class-info-item .material-symbols-outlined {
  color: #1da1f2;
}

.footer {
  border-top: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #13132f;
  color: #eee;
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 30px 0;
}
.footer-top .top-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-top .top-left .header {
  display: flex;
  align-items: baseline;
}
.footer-top .top-left .header span:first-child {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
.footer-top .top-left .header span:last-child {
  font-size: 1.5rem;
  color: #00880c;
  font-family: "Courier Prime", monospace;
}
.footer-top .top-left .medsos {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.footer-top .top-left .medsos a {
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
  color: #eee;
}
.footer-top .top-left .medsos .twt:hover {
  background-color: #1da1f2;
}
.footer-top .top-left .medsos .ln:hover {
  background-color: #0077b5;
}
.footer-top .top-left .medsos .yt:hover {
  background-color: #cd201f;
}
.footer-top .footer-link {
  display: flex;
  gap: 100px;
}
.footer-top .footer-link .footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-top .footer-link .footer-list li a {
  text-decoration: none;
  color: #eee;
}
.footer-top .footer-link .footer-list li a:hover {
  text-decoration: underline;
}
.footer-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #bbb;
  padding: 20px 0;
}
.footer-bottom span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer-bottom span svg {
  color: red;
}

@media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-bar {
    justify-content: space-between;
    padding: 10px 20px;
  }
  .nav-bar .nav-mid {
    position: absolute;
    top: calc(100% + 5px);
    right: 5px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: flex-end;
    padding: 1rem;
    padding-left: 5rem;
    border-radius: 0.5rem;
    background-color: #00000f;
    box-shadow: 0 0 10px -2px rgba(255, 255, 255, 0.1);
    transition: all 0.1s;
    transform: scale(0);
    transform-origin: top right;
  }
  .nav-bar .active {
    transform: scale(1);
  }
  .nav-bar .nav-right .mobile-menu {
    display: flex;
  }
  .nav-bar .nav-right .mobile-menu svg {
    width: 30px;
    height: 30px;
  }
  .head {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .head .info {
    width: 90vw;
  }
  .benefit {
    width: 90vw;
    margin-top: 0;
    padding: 0;
  }
  .benefit .problems {
    padding: 0;
    background: none;
    align-items: center;
  }
  .benefit .problems::after {
    display: none;
  }
  .benefit .problems-content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .benefit .problems-content .left img {
    width: 100%;
  }
  .benefit .problems-content .right {
    padding: 0 15px;
  }
  .principles {
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }
  .principles-content {
    flex-direction: column;
    align-items: center;
  }
  .classes {
    width: 95vw;
  }
  .classes .class-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
  }
  .classes .class-grid .class {
    padding: 10px;
  }
  .classes .class-grid .class-info {
    margin-top: 0;
  }
  .classes .class-grid .class .header {
    font-size: 0.8rem;
    text-align: center;
  }
  .classes .class-grid .class .content img {
    width: 100%;
  }
  .footer {
    width: 100%;
    padding: 0 10px;
  }
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }
  .footer-top .footer-link {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .footer-top .footer-link .footer-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .footer-bottom {
    flex-direction: column;
  }
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .principles {
    width: 95vw;
    gap: 15px;
  }
  .classes {
    width: 95vw;
  }
  .classes .class-grid {
    width: 100%;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }
  .classes .class-grid .class {
    padding: 15px;
  }
  .footer {
    width: 100%;
  }
  .footer .footer-link {
    gap: 50px;
  }
}/*# sourceMappingURL=style.css.map */