@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins:wght@400;600;700&display=swap');

$green: #00880c;
$green_gradation: rgb(0, 136, 12);
$blue: #5d7ef3;
$blue_gradation: rgb(93, 126, 243);
$white: #eee;

$dark: #444;
$dark-blue: #00000f;
$dark-green: #001c04;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

body{
    background-color: $dark-blue;
}

@import "./navbar/navbar.css";

.head{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;

    .items{
        display: flex;
        flex-direction: column;
        gap: 15px;
        transform: rotate(-45deg);

        .row{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;

            img{
                width: 2.5rem;
                transform: rotate(45deg);
            }
        }
    }

    .info{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        width: 500px;
        color: black;
        color: $white;

        .tagline{
            font-size: 30px;
            font-weight: 1000;
            text-align: center;

            .unique{
                color: gold;
            }
        }
        
        p{
            text-align: center;
        }
    }
}

.career{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: auto;
    color: #eee;

    &-header{
        font-size: 30px;
        font-weight: bold;
    }

    &-content{
        width: 100%;
        display: flex;
        gap: 1.5rem;

        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            text-align: center;
            padding: 0.8rem;
            border-radius: .8rem;
            background-color: rgb(255,255,255,.05);
            border: 2px solid rgb(255,255,255,.07);
        }
    }
}

.elearning{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin: 5rem auto;
    width: 80vw;
    
    &-item{
        display: flex;
        width: 100%;
        border-radius: 0.8rem;
        overflow: hidden;
        background-color: rgb(255,255,255,.05);

        &:nth-child(2){
            flex-direction: row-reverse;
        }

        .content{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            width: 60%;
            padding: 1rem;
            color: #eee;
    
            .header{
                font-size: 1.5rem;
                font-weight: bold;
                color: $green;
            }
    
            .text{
                font-size: .8rem;
            }
        
            .join-now{
                width: fit-content;
                padding: 5px 10px;
                border: 2px solid $green;
                color: $white;
                border-radius: 5px;
                text-decoration: none;
                transition: all .2s;
                display: flex;
                align-items: center;
                gap: 2px;
    
                &:hover{
                    background-color: $green;
                    color: $white;
                }
            }
        }
    
        .img{
            display: flex;
            width: 40%;
    
            img{
                width: 100%
            }
        }
    }
}

.playground{
    width: 80vw;
    margin: 5rem auto;
    display: flex;
    color: $white;

    .code{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgb(255,255,255,.05);
        border-radius: .5rem;
        overflow: hidden;

        &-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem;
            border-bottom: 2px solid $dark-blue;

            .left{
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }

            .languages-run{
                display: flex;
                align-items: center;
                gap: .5rem;

                .run-btn{
                    display: flex;
                    border-radius: .2rem;
                    border: 2px solid $green;
                    cursor: pointer;
                    padding: 0.2rem;
                    transition: all .2s;

                    &:hover{
                        background-color: $green;
                    }
                }

                .languages{
                    display: flex;
                    position: relative;
    
                    &-header{
                        display: flex;
                        align-items: center;
                        gap: 0.2rem;
                        background-color: rgb(255,255,255,.05);
                        padding: 0.2rem .5rem;
                        cursor: pointer;
                        border-radius: .2rem;
                    }
    
                    &-menu{
                        position: absolute;
                        z-index: 1;
                        top: 110%;
                        right: 0;
                        background-color: $white;
                        color: black;
                        backdrop-filter: blur(10px);
                        border-radius: .2rem;
                        max-height: 0;
                        overflow: hidden;
                        transition: all .2s;
    
                        &.active{
                            max-height: 999px;
                        }
    
                        .language{
                            padding: 0.2rem .5rem;
                            cursor: pointer;
    
                            &:hover{
                                background-color: rgb(0,0,0,.15);
                            }
                        }
                    }
                }
            }
        }

        &-container{
            display: flex;
            position: relative;
            
            .code-content{
                width: 100%;
                display: flex;
                padding: 0.5rem;
                color: rgb(255,255,255,.8);
                
                .lines{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    color: rgb(255,255,255,.3);
                    margin-right: 1rem;
    
                    div{
                        font-size: 1rem;
                        font-family: monospace;
                    }
                }
                
                pre{
                    font-size: 1rem;
                    font-family: monospace;
    
                    *{
                        font-size: 1rem;
                        font-family: monospace;
                    }
    
                    .purple{
                        color: #c678dd;
                    }
    
                    .blue{
                        color: #61afef;
                    }
    
                    .fontainBlue{
                        color: #56b6cd;
                    }
    
                    .yellow{
                        color: #e5c07b;
                    }
    
                    .orange{
                        color: #d19a66;
                    }
    
                    .red{
                        color: #be5046;
                    }
                }
    
                .terminal{
                    position: absolute;
                    right: -100%;
                    width: 30%;
                    background-color: black;
                    top: 0;
                    bottom: 0;
                    padding: 0.5rem;
                    display: flex;
                    justify-content: space-between;
                    transition: all .5s;
    
                    &.active{
                        right: 0;
                    }
    
                    *{
                        font-size: 1rem;
                        font-family: monospace;
                    }
    
                    &-info{
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                    }
    
                    .close{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        padding: 0.1rem;
                        border-radius: 10rem;
                        height: fit-content;
                        width: fit-content;
                        
                        &:hover{
                            background-color: rgb(255,255,255,.05);
                        }
                    }
                }
            }
        }
    }
}

.principles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 80vw;
    margin: 5rem auto;
    
    &-head{
        font-weight: 700;
        font-size: 30px;
        color: $white;
    }

    &-content{
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 1.5rem;

        .principles-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(255,255,255,.05);
            border: 2px solid rgb(255,255,255,.07);
            padding: 20px;
            border-radius: 2rem 0 2rem 0;
    
            .item-top{
                padding: 10px;
                border-radius: 50%;
                display: flex;
    
                svg{
                    margin: auto;
                    width: 4rem;
                    height: 4rem;
                    color: $blue;
                }
            }
            
            .principles-header{
                font-size: 1.2rem;
                font-weight: bold;
                color: $white;
            }
            
            .principles-content{
                text-align: center;
                font-size: .85rem;
                margin-top: 2rem;
                color: $white;
            }
        }
    }   
}

.faqs{
    width: 80vw;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    gap: 2rem;

    &-header{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

    &-content{
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .item{
            display: flex;
            flex-direction: column;
            background-color: rgb(255,255,255,.07);
            border-radius: .5rem;

            &-header{
                padding: 1rem 1rem;
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                span{
                    color: white;
                }

                svg{
                    color: $blue;
                    transition: all .2s;

                    &.active{
                        transform: rotate(-180deg);
                    }
                }
            }

            &-content{
                display: flex;
                max-height: 0;
                overflow: hidden;
                transition: .2s cubic-bezier(0,1,0,1);

                &.active{
                    max-height: 99rem;
                    transition: .2s cubic-bezier(1,0,1,0);
                }

                .answer{
                    padding: 1rem;
                    font-size: .9rem;
                    color: rgb(255,255,255,.5);
                }
            }
        }
    }
}

.classes{
    width: 80vw;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
    &-header{
        font-size: 30px;
        font-weight: 700;
        color: $white;
    }
    
    .class-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 1rem;
        
        .class{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            border-radius: 20px;
            gap: 10px;
            cursor: pointer;
            transition: all .2s;
            background-color: rgb(255,255,255,.05);
            border: 2px solid rgb(255,255,255,.07);

            .header{
                font-size: 1.1rem;
                color: $white;
                text-align: center;
            }

            .content{
                display: flex;

                img{
                    width: 100%;
                    border-radius: 10px;
                    margin-bottom: -5px;
                }
            }

            &-info{
                align-self: flex-start;
                display: flex;
                flex-direction: column;

                &-item{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: .85rem;
                    color: $white;

                    .material-symbols-outlined{
                        color: #1da1f2;
                    }
                }
            }
        }
    }
}

@import "./footer/footer.css";

@media screen and (max-width: 480px) {

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .head{
        flex-direction: column;
        justify-content: center;
        gap: 5rem;

        .items{
            .row{
                img{
                    width: 2rem;
                }
            }
        }

        .info{
            width: 90vw;
        }
    }

    .career{
        width: 100%;
        padding: 0 1rem;

        &-header{
            text-align: center;
        }

        &-content{
            flex-direction: column;
        }
    }

    .elearning{
        width: 100%;
        padding: 0 1rem;

        &-item{
            flex-direction: column-reverse;

            &:nth-child(2){
                flex-direction: column-reverse;
            }

            .content{
                width: 100%;
                align-items: center;

                .header{
                    text-align: center;
                }

                .text{
                    text-align: justify;
                }
            }

            .img{
                width: 100%;
            }
        }
    }

    .playground{
        width: 100%;
        padding: 0 1rem;

        .code{
            &-container{
                width: calc(100vw - 2rem);
                overflow-x: auto;
                overflow-y: hidden;

                &.closeScroll {
                    overflow-x: hidden;
                }

                .code-content{
                    width: fit-content;
                    height: fit-content;

                    .terminal{
                        width: 100%;
                        height: 1000px;
                        top: 100%;
                        bottom: auto;
                        left: 0;
                        right: 0;

                        &.active{
                            top: 30%;
                        }
                    }
                }
            }
        }

    }

    .principles{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 1rem;

        &-content{
            flex-direction: column;
            align-items: center;
        }
    }

    .faqs{
        width: 100%;
        padding: 0 1rem;

        &-content{
            .item{
                &-header{
                    span{
                        width: 85%;
                    }
                }
            }
        }
    }

    .classes{
        width: 95vw;

        .class-grid{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(4,1fr);
            gap: 8px;

            .class{
                padding: 10px;

                &-info{
                    margin-top: 0;
                }

                .header{
                    font-size: .8rem;
                    text-align: center;
                }

                .content{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .head{
        flex-direction: column;
        justify-content: center;
        gap: 8rem;

        .items{
            .row{
                img{
                    width: 3rem;
                }
            }
        }
    }

    .career{
        width: 90vw;

        &-content{
            gap: 1rem;

            .item{
                &-img{
                    img{
                        width: 5rem;
                    }
                }
            }
        }
    }

    .elearning{
        width: 90vw;

        &-item{

            .content{
                gap: 1rem;
            }
        }
    }

    .playground{
        width: 90vw;
    }

    .principles{
        width: 90vw;
        gap: 15px;

        &-content{
            gap: 1rem;
        }
    }

    .faqs{
        width: 90vw;
    }

    .classes{
        width: 90vw;

        .class-grid{
            width: 100%;
            grid-template-columns: repeat(3,auto);
            grid-template-rows: repeat(3,auto);
            gap: 10px;

            .class{
                padding: 15px;
            }
        }
    }
}
