@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "./navbar/navbar.css";
@import "./footer/footer.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #00000f;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}
.head .items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  transform: rotate(-45deg);
}
.head .items .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.head .items .row img {
  width: 2.5rem;
  transform: rotate(45deg);
}
.head .info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 500px;
  color: black;
  color: #eee;
}
.head .info .tagline {
  font-size: 30px;
  font-weight: 1000;
  text-align: center;
}
.head .info .tagline .unique {
  color: gold;
}
.head .info p {
  text-align: center;
}

.career {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: auto;
  color: #eee;
}
.career-header {
  font-size: 30px;
  font-weight: bold;
}
.career-content {
  width: 100%;
  display: flex;
  gap: 1.5rem;
}
.career-content .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  padding: 0.8rem;
  border-radius: 0.8rem;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.07);
}

.elearning {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin: 5rem auto;
  width: 80vw;
}
.elearning-item {
  display: flex;
  width: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.05);
}
.elearning-item:nth-child(2) {
  flex-direction: row-reverse;
}
.elearning-item .content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 60%;
  padding: 1rem;
  color: #eee;
}
.elearning-item .content .header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00880c;
}
.elearning-item .content .text {
  font-size: 0.8rem;
}
.elearning-item .content .join-now {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  border: 2px solid #00880c;
  color: #eee;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 2px;
}
.elearning-item .content .join-now:hover {
  background-color: #00880c;
  color: #eee;
}
.elearning-item .img {
  display: flex;
  width: 40%;
}
.elearning-item .img img {
  width: 100%;
}

.faqs {
  width: 80vw;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eee;
  gap: 2rem;
}
.faqs-header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.faqs-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.faqs-content .item {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 0.5rem;
}
.faqs-content .item-header {
  padding: 1rem 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.faqs-content .item-header span {
  color: white;
}
.faqs-content .item-header svg {
  color: #5d7ef3;
  transition: all 0.2s;
}
.faqs-content .item-header svg.active {
  transform: rotate(-180deg);
}
.faqs-content .item-content {
  display: flex;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0, 1, 0, 1);
}
.faqs-content .item-content.active {
  max-height: 99rem;
  transition: 0.2s cubic-bezier(1, 0, 1, 0);
}
.faqs-content .item-content .answer {
  padding: 1rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}

.principles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 80vw;
  margin: 5rem auto;
}
.principles-head {
  font-weight: 700;
  font-size: 30px;
  color: #eee;
}
.principles-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1.5rem;
}
.principles-content .principles-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.07);
  padding: 20px;
  border-radius: 2rem 0 2rem 0;
  transition: all 0.1s;
}
.principles-content .principles-item .item-top {
  padding: 10px;
  border-radius: 50%;
  display: flex;
}
.principles-content .principles-item .item-top svg {
  margin: auto;
  width: 4rem;
  height: 4rem;
  color: #5d7ef3;
}
.principles-content .principles-item .principles-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: #eee;
}
.principles-content .principles-item .principles-content {
  text-align: center;
  font-size: 0.85rem;
  margin-top: 2rem;
  color: #eee;
}

.classes {
  width: 80vw;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.classes-header {
  font-size: 30px;
  font-weight: 700;
  color: #eee;
}
.classes .class-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.classes .class-grid .class {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.07);
}
.classes .class-grid .class .header {
  font-size: 1.1rem;
  color: #eee;
  text-align: center;
}
.classes .class-grid .class .content {
  display: flex;
}
.classes .class-grid .class .content img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: -5px;
}
.classes .class-grid .class-info {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}
.classes .class-grid .class-info-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.85rem;
  color: #eee;
}
.classes .class-grid .class-info-item .material-symbols-outlined {
  color: #1da1f2;
}

@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head {
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }
  .head .items .row img {
    width: 2rem;
  }
  .head .info {
    width: 90vw;
  }
  .career {
    width: 100%;
    padding: 0 1rem;
  }
  .career-header {
    text-align: center;
  }
  .career-content {
    flex-direction: column;
  }
  .elearning {
    width: 100%;
    padding: 0 1rem;
  }
  .elearning-item {
    flex-direction: column-reverse;
  }
  .elearning-item:nth-child(2) {
    flex-direction: column-reverse;
  }
  .elearning-item .content {
    width: 100%;
    align-items: center;
  }
  .elearning-item .content .header {
    text-align: center;
  }
  .elearning-item .content .text {
    text-align: justify;
  }
  .elearning-item .img {
    width: 100%;
  }
  .principles {
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }
  .principles-content {
    flex-direction: column;
    align-items: center;
  }
  .faqs {
    width: 100%;
    padding: 0 1rem;
  }
  .faqs-content .item-header span {
    width: 85%;
  }
  .classes {
    width: 95vw;
  }
  .classes .class-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
  }
  .classes .class-grid .class {
    padding: 10px;
  }
  .classes .class-grid .class-info {
    margin-top: 0;
  }
  .classes .class-grid .class .header {
    font-size: 0.8rem;
    text-align: center;
  }
  .classes .class-grid .class .content img {
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head {
    flex-direction: column;
    justify-content: center;
    gap: 8rem;
  }
  .head .items .row img {
    width: 3rem;
  }
  .career {
    width: 90vw;
  }
  .career-content {
    gap: 1rem;
  }
  .career-content .item-img img {
    width: 5rem;
  }
  .elearning {
    width: 90vw;
  }
  .elearning-item .content {
    gap: 1rem;
  }
  .principles {
    width: 90vw;
    gap: 15px;
  }
  .principles-content {
    gap: 1rem;
  }
  .faqs {
    width: 90vw;
  }
  .classes {
    width: 90vw;
  }
  .classes .class-grid {
    width: 100%;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }
  .classes .class-grid .class {
    padding: 15px;
  }
}/*# sourceMappingURL=style.css.map */