@import url("./index.css");

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .5rem 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0,0,15,.8);
    backdrop-filter: blur(20px);
    z-index: 10;

    .logo{
        display: flex;

        & img{
            height: 1.8rem;
        }
    }

    .links{
        display: flex;
        align-items: center;
        gap: 50px;

        .close-navbar{
            display: none;
            justify-content: center;
            align-items: center;
            padding: 0.2rem;
            border-radius: .2rem;

            &:hover{
                background-color: rgb(255,255,255,.05);
            }
        }

        & a{
            text-decoration: none;
            color: var(--white);
            position: relative;

            &.page::after{
                width: 100%;
            }

            &.signin{
                display: none;
            }

            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                background-color: #eee;
                width: 0;
                transition: all .2s;
                border-radius: 5px;
            }

            &:hover::after{
                width: 100%;
            }
        }
    }

    .extra{
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--white);

        .signin{
            padding: 5px 10px;
            border: 2px solid #00880c;
            border-radius: 5px;
            color: var(--white);
            transition: all .2s;
            text-decoration: none;

            &:hover{
                background-color: #00880c;
            }
        }

        .mobile-menu{
            display: none;
            padding: 0.2rem;
            border-radius: .2rem;

            &:hover{
                background-color: rgb(255,255,255,.05);
            }
        }
    }
}

.overlay{
    display: none;
}

@media screen and (max-width: 480px) {

    .navbar{
        justify-content: space-between;
        padding: 1rem;

        .links{
            position: fixed;
            background-color: var(--dark-blue);
            flex-direction: column;
            align-items: end;
            gap: 1rem;
            padding: 1rem;
            top: 0;
            height: 100vh;
            min-width: 60vw;
            right: -100%;
            transition: all .3s;
            font-size: 1.2rem;

            &.active{
                right: 0;
                z-index: 30;
            }

            .close-navbar{
                display: flex;
            }

            .signin{
                display: block;
            }
        }

        .extra{
            .signin{
                display: none;
            }

            .mobile-menu{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .overlay.active{
        display: block;
        position: fixed;
        background-color: rgb(0,0,0,.5);
        top: 0;
        height: 100vh;
        left: 0;
        right: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
    .navbar{
        padding: 1rem 5vw;
    }
}