@import url("./index.css");

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .5rem 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0,0,15,.8);
    backdrop-filter: blur(20px);
    z-index: 10;

    .logo{
        display: flex;

        & img{
            height: 1.8rem;
        }
    }

    .links{
        display: flex;
        align-items: center;
        gap: 50px;

        .close-navbar{
            display: none;
            justify-content: center;
            align-items: center;
            padding: 0.2rem;
            border-radius: .2rem;

            &:hover{
                background-color: rgb(255,255,255,.05);
            }
        }

        .mobile-links{
            display: none;
        }

        & a{
            text-decoration: none;
            color: var(--white);
            position: relative;

            &.signin-btn{
                display: none;
            }

            &.page::after{
                width: 100%;
            }

            &.signin-btn{
                display: none;
            }

            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                background-color: #eee;
                width: 0;
                transition: all .2s;
                border-radius: 5px;
            }

            &:hover::after{
                width: 100%;
            }
        }
    }

    .extra{
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--white);

        .account-nav{
            display: flex;
            position: relative;

            .account-btn{
                display: flex;
                cursor: pointer;

                & img{
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 100rem;
                }
            }

            .account-menu{
                position: absolute;
                z-index: 1;
                top: 110%;
                right: 0;
                background-color: var(--white);
                color: black;
                border-radius: .2rem;
                max-height: 0;
                overflow: hidden;
                transition: all .2s;
                display: flex;
                flex-direction: column;
                
                & a, & button{
                    padding: 0.2rem .5rem;
                    padding-right: 2rem;
                    cursor: pointer;

                    &:hover{
                        background-color: rgb(0,0,0,.15);
                    }
                }

                &.active{
                    max-height: 999px;
                }
            }
        }

        .signin-btn{
            padding: 5px 10px;
            border: 2px solid #00880c;
            border-radius: 5px;
            color: var(--white);
            transition: all .2s;
            text-decoration: none;

            &:hover{
                background-color: #00880c;
            }
        }

        .mobile-menu{
            display: none;
            padding: 0.2rem;
            border-radius: .2rem;

            &:hover{
                background-color: rgb(255,255,255,.05);
            }
        }
    }
}

.overlay{
    display: none;
}

@media screen and (max-width: 480px) {
    .navbar{
        justify-content: space-between;
        padding: 1rem;

        .links{
            position: fixed;
            background-color: var(--dark-blue);
            flex-direction: column;
            align-items: end;
            gap: 1rem;
            padding: 1rem;
            top: 0;
            height: 100vh;
            min-width: 60vw;
            right: -100%;
            transition: all .3s;
            font-size: 1.2rem;

            &.active{
                right: 0;
                z-index: 30;
            }

            .close-navbar{
                display: flex;
            }

            & a{
                &.signin-btn{
                    display: block;
                }
            }
        }

        .extra{
            .signin-btn{
                display: none;
            }

            .mobile-menu{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .overlay.active{
        display: block;
        position: fixed;
        background-color: rgb(0,0,0,.5);
        top: 0;
        height: 100vh;
        left: 0;
        right: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
    .navbar{
        padding: 1rem 5vw;
    }
}